/* src/app/features/dashboard/dashboard.component.css */
canvas {
  max-width: 100%;
  height: 100% !important; /* Ensure canvas fills its container */
  width: 100% !important; /* Ensure canvas fills its container */
}